@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  /* Establece una duración y tipo de animación */
  animation: girar 3s linear infinite;
}

@keyframes girar {

  /* Define la animación de rotación */
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

